<%= form_with(model: customer_status, local: true) do |form| %>
  <% if customer_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_status.errors.count, "error") %> prohibited this customer_status from being saved:</h2>

      <ul>
        <% customer_status.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="album text-white">
  
          <div class="row">

              <div class="col-md-4 text-white">

                  <div class="form-group">
                    <%= form.label :customer_status, "Customer Status" %>
                    <%= form.text_field :customer_status, class: 'form-control' %>
                  </div>

                  <div class="form-group">
                    <%= form.label :customer_status_desc, "Customer Status Description" %>
                    <%= form.text_field :customer_status_desc, class: 'form-control' %>
                  </div>

              </div>

             </div>  
             <hr class="new1">

              <div class="col-sm-12">
                <div class="form-group text-white">

                    <div class="actions">
                      <%= form.submit "Add Customer Status", class: 'btn btn-secondary btn-block' %>
                    </div>

                    </div>
                </div> 
<% end %>
