<div class="container portfolio-container text-white">
<div class="album text-white">

  <div class="card  bg-dark border-light text-center">
    <div class="card-body text-white text-center">
                    <%= image_tag("login2.svg", alt: "tex", height: 50, width: 65) %>

    <div class="row">
                <div class="col-md-2"></div>
            <div class="col-sm-8 text-left">
            <br>
            <h1 class="text-center">Edit <%= resource_name.to_s.humanize %></h1>
        
            <%= form_for(resource, as: resource_name, url: user_registration_path(), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>

              <div class="form-group">
                <%= f.label :email, "Email*" %><br />
                <%= f.email_field :email, class: 'form-control'  %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="form-group">
                <%= f.label :password, "New Password*" %> <br />
                <%= f.password_field :password, autocomplete: "off", class: 'form-control'  %>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation, "New Password Confirmation*" %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'  %>
              </div>

              <div class="form-group">
                <%= f.label :current_password, "Current Password*" %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "off", class: 'form-control'  %>
              </div>

              <p class="text-center">*Required Fields</p>

              <div class="form-group">
                <%= f.submit "Update", class: 'btn  btn-outline-primary btn-block btn-lg text-white' %>
              </div>
            <% end %>
            <hr>
             <%= link_to "Back", management_index_path, class: 'btn btn-outline-secondary btn-block btn-sm text-white' %>
            </div>

            <hr>
                    <div class="col-md-2"></div>
    </div>
  
  </div>

</div>
</div>
