<%= form_with(model: state_province, local: true) do |form| %>
  <% if state_province.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(state_province.errors.count, "error") %> prohibited this state_province from being saved:</h2>

      <ul>
        <% state_province.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <div class="album text-white">
  
          <div class="row">
            <div class="col-md-4 text-white">

              <div class="form-group">
                <%= form.label :state_province_name, "State Province Name" %><i style=" color:aquamarine;">*</i>
                <%= form.text_field :state_province_name, placeholder: "Enter State/Province Name", class: 'form-control' %>
              </div>

              </div>

          </div>

          <hr class="new1">
             <div class="col-sm-12">
                <div class="form-group text-white">

                    <div class="actions">
                      <%= form.submit "Add State Province", class: 'btn btn-secondary btn-block' %>
                    </div>

                    </div>
             </div> 

<% end %>
