<div class=" form-group nested-fields ">

<div class="row">

            <div class="col-md-6 text-white">
    
                <div class="field">
                <div class="form-group">
                <%= f.label :metal_item_desc, "Metal Item Description:" %>
                <%= f.text_area :metal_item_desc, placeholder: "Please Enter A Short Description", class: 'form-control' %>
                </div>

                </div>

                <div class="field">
                  <div class="form-group">
                <%= f.label :metal_type_id, "Metal Type:" %>
                <br>
                <%= f.collection_select :metal_type_id, MetalType.all, :id, :metal_type, class: 'form-control' %>
                </div>

              </div>

                <div class="field">
                <div class="form-group">
                <%= link_to_remove_association 'Remove A Metal Item', f, class: 'btn btn-outline-danger text-white'%>
              </div>
                </div>

           </div>

            <div class="col-md-6 text-white">

                  <div class="field">
                  <div class="form-group">
                  <%= f.label :net_weight, "Net Weight (lbs):" %>
                  <%= f.number_field :net_weight, step: :any, placeholder: "Enter Metal Item Net Weight In lbs", class: 'form-control col-sm-9' %>
                  </div>

                  </div>

                  <div class="field">
                  <div class="form-group">
                  <%= f.label :unit_price, "Unit Price (Per lbs):" %>
                  <%= f.number_field :unit_price, step: :any, placeholder: "Enter Unit Price", class: 'form-control col-sm-5' %>
                </div>
                </div>


           </div>
</div>

          
            

</div>