<div class=" form-group nested-fields ">

    <div class="field">
    <%= f.label :metal_item_desc %>
    <%= f.text_field :metal_item_desc, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :net_weight %>
    <%= f.number_field :net_weight, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :unit_price %>
    <%= f.number_field :unit_price, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :metal_type_id %>
    <%= f.text_field :metal_type_id, class: 'form-control' %>
  </div>
  
  <div class="field">
    <%= link_to_remove_association 'Remove A Metal Item', f%>
  </div>

</div>