<p id="notice"><%= notice %></p>
<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable();
  });
</script>

<h1>Invoices</h1>
<div class="container">

<table id="example" class="table table-striped table-bordered" style="width: 1000px;">
  <thead>
    <tr>
      <th>Invoice number</th>
      <th>Invoice desc</th>
      <th>Invoice date time</th>
      <th>Material image</th>
      <th>Customer</th>
      <th>Employee</th>
      <th>Invoice type</th>
      <th>Invoice status</th>
      <th>View Invoice</th>
      <th>Edit Invoice</th>
      <th>Delete Invoice </th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.invoice_number %></td>
        <td><%= invoice.invoice_desc %></td>
        <td><%= invoice.invoice_date_time %></td>
        <td><%= invoice.material_image %></td>
        <td><%= invoice.customer_id %></td>
        <td><%= invoice.employee_id %></td>
        <td><%= invoice.invoice_type_id %></td>
        <td><%= invoice.invoice_status_id %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Invoice', new_invoice_path %>




