<p id="notice"><%= notice %></p>
<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable( {
      
      "language": {
        "sLengthMenu": "Num. of Entries Per Page _MENU_ ",
        "sSearch": "Search:"
        }
        
        });
  });
</script>


<div class="container text-white">
<div class="album text-white">

<h1>Manage Invoices</h1>


<%= link_to 'New Invoice', new_invoice_path, class: 'btn btn-outline-secondary text-white' %>

<br>
<hr class="new1">

<table id="example" class="table table-dark table-hover table-lg text-nowrap" data-turbolinks="false" >

  <thead>
    <tr>
      <th>Invoice #</th>
      <th>Invoice Desc.</th>
      <th>Invoice Date</th>
      <th>Customer Name</th>
      <th>Invoice Type</th>
      <th>Invoice Status</th>
      <th>View Invoice</th>
      <th>Edit Invoice</th>
      <th>Delete Invoice</th>
    </tr>
  </thead>

  <tbody >
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.invoice_number %></td>
        <td><%= invoice.invoice_desc %></td>
        <td><%= invoice.invoice_date_time.to_formatted_s(:long_ordinal) %></td>
        <td><%= invoice.customer_id %></td>
        <td><%= invoice.invoice_type_id %></td>
        <td><%= invoice.invoice_status_id %></td>
        <td><%= link_to 'Show', invoice, class: 'btn btn-info btn-sm text-white' %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice), class: 'btn btn-warning btn-sm' %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-light btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<br>





