
<p id="notice"><%= notice %></p>

<div class="container portfolio-container text-white">

<div class="text-white">
<%= link_to 'Download PDF', invoice_path(@invoice, format: :pdf), class: 'btn btn-outline-info text-white' if request.format != :pdf %>
<%= tag.a("|") if request.format != :pdf %>
 <%= link_to 'Edit Invoice', edit_invoice_path(@invoice), class: 'btn btn-outline-warning text-white' if request.format != :pdf %>
 <%= tag.a("|") if request.format != :pdf %>
 <%= link_to 'Manage Invoices', invoices_path, class: 'btn btn-outline-secondary text-white' if request.format != :pdf %>
</div>
    <hr class="new1">
    <div class="album text-white">
        <div class="row" id="invoice-show">

            <div class="col-md-3 text-white" id="logo">
                <h2>
                    <%= request.format == :pdf ? (wicked_pdf_image_tag 'tex.png') : (image_tag("dark2txscrap.png", alt: "tex", height: 110, width: 150))%>
                </h2>
            </div>
            <div class="col-md-6 text-white text-center" id="scrap-info">
                <a>
                    <strong>Texas Scrap Metal</strong>
                    <br>
                    <strong>311 West Mountain Houston Rd, Houston, TX 77037</strong>
                    <br>
                    <strong>texscrap@gmail.com</strong>
                    <br>
                    <strong>123-456-7890</strong>
                </a>

            </div>
            <div class="col-md-3 text-white" id="info">
                <p> <strong>Invoice Number:</strong> <%= @invoice.invoice_number %> </p>
                <p> <strong>Invoice Date/Time: </strong>
                    <br>
                    <%= @invoice.invoice_date_time.to_formatted_s(:long_ordinal) %>
                    <p> <strong>Invoice Type: </strong>
                        <%= @invoice.invoice_type.invoice_type %>
                    </p>
                    <p> <strong>Invoice Status: </strong>
                        <%= @invoice.invoice_status.invoice_status %>
                    </p>
                    <p> <strong>Created By: </strong>
                        <br>
                        <%= @invoice.employee.employee_first_name %>
                        <%= @invoice.employee.employee_last_name %>
                    </p>
            </div>
        </div>

        <hr class="new1">

        <h2>Customer Information: </h2>
        <p>
            <strong>Customer Name:</strong>
            <%= link_to @invoice.customer.first_and_last_no_id, @invoice.customer, :style=> 'color:darkturquoise;' %>
        </p>

        <p>
            <strong>Drivers License Number:</strong>
            <%= @invoice.customer.dl_number %>
        </p>

        <p>
            <strong>Date of Birth:</strong>
            <%= @invoice.customer.dob.to_formatted_s(:long_ordinal) %>
        </p>

        <p>
            <strong>Customer Address:</strong>
            <%= @invoice.customer.cust_address %>,
            <%= @invoice.customer.cust_city %>,
            <%= @invoice.customer.state_province.state_province_name %>
            <%= @invoice.customer.zip_code %>

        </p>

        <hr class="new1">
        <h2>Customer Vehicle Information: </h2>

        <% if request.format != :pdf %>
        <table class="table table-dark table-hover text-center table-sm text-nowrap">

            <thead>
                <tr class="table-dark">
                    <th>Vehicle Year</th>
                    <th>Vehicle Color</th>
                    <th>License Plate Number</th>
                    <th>Registration State</th>
                    <th>Vehicle Make</th>
                    <th>Vehicle Manufacturer</th>
                </tr>
            </thead>

            <tbody>
                <% @invoice.customer.customer_vehicles.each do |cv| %>
                <tr>
                    <td><%= cv.year %></td>
                    <td><%= cv.color %></td>
                    <td><%= cv.license_plate_number %></td>
                    <td><%= cv.state_province.state_province_name %></td>
                    <td><%= cv.make.make_name %></td>
                    <td><%= cv.make.manufacturer.manufacturer_name %></td>
                </tr>
                <% end %>
            </tbody>
        </table>

        <hr class="new1">
        <h2>Metal Item Information: </h2>

        <table class="table table-dark table-hover text-center table-sm text-nowrap">
            <thead>
                <tr class="table-dark">
                    <th class="text-left">Metal Item Description</th>
                    <th class="text-right">Metal Item Net Weight</th>
                    <th class="text-right">Metal Item Unit Price</th>
                    <th class="text-left">Metal Type</th>
                    <th class="text-right">Unit Total</th>
                </tr>
            </thead>

            <tbody>
                <% running_total = 0 %>
                <% @invoice.metal_items.each do |metalitem| %>
                <tr>
                    <td class="text-left"><%= metalitem.metal_item_desc %></td>
                    <td class="text-right"><%= number_with_precision(metalitem.net_weight, precision: 1) %> lbs</td>
                    <td class="text-right"><%= number_to_currency(metalitem.unit_price, precision: 2) %></td>
                    <td class="text-left"><%= metalitem.metal_type.metal_type %></td>
                    <td class="text-right"><%= number_to_currency(metalitem.total, precision: 2) %></td>
                    <% running_total = running_total + (metalitem.net_weight * metalitem.unit_price) %>
                </tr>
                <% end %>
            </tbody>
        </table>
        <div class="row">

            <div class="col-md-4 text-white"></div>
            <div class="col-md-5 text-white text-center"></div>
            <div class="col-md-3 text-white">
                <p class="text-right">
                    <strong>Total: <%= number_to_currency(running_total, precision: 2) %>
                </p>
            </div>
        </div>
      <% end %>

      <% if request.format == :pdf %>
        <table class="pdf-table">
            <tr>
                <th class="pdf-th">Vehicle Year</th>
                <th class="pdf-th">Vehicle Color</th>
                <th class="pdf-th">License Plate Number</th>
                <th class="pdf-th">Registration State</th>
                <th class="pdf-th">Vehicle Make</th>
                <th class="pdf-th">Vehicle Manufacturer</th>
            </tr>
            <% @invoice.customer.customer_vehicles.each do |cv| %>
            <tr>
                <td class="pdf-td"><%= cv.year %></td>
                <td class="pdf-td"><%= cv.color %></td>
                <td class="pdf-td"><%= cv.license_plate_number %></td>
                <td class="pdf-td"><%= cv.state_province.state_province_name %></td>
                <td class="pdf-td"><%= cv.make.make_name %></td>
                <td class="pdf-td"><%= cv.make.manufacturer.manufacturer_name %></td>
            </tr>
            <% end %>
        </table>

        <hr class="new1">
        <h2>Metal Item Information: </h2>

        <table class="pdf-table">
            <tr>
                <th class="pdf-th">Metal Item Description</th>
                <th class="pdf-th">Metal Item Net Weight</th>
                <th class="pdf-th">Metal Item Unit Price</th>
                <th class="pdf-th">Metal Type</th>
                <th class="pdf-th">Unit Total</th>
            </tr>
            <% running_total = 0 %>
            <% @invoice.metal_items.each do |metalitem| %>
            <tr>
                <td class="pdf-td"><%= metalitem.metal_item_desc %></td>
                <td class="pdf-subtotal"><%= number_with_precision(metalitem.net_weight, precision: 1) %>lbs</td>
                <td class="pdf-subtotal"><%= number_to_currency(metalitem.unit_price, precision: 2) %></td>
                <td class="pdf-metal"><%= metalitem.metal_type.metal_type %></td>
                <td class="pdf-subtotal"><%= number_to_currency(metalitem.total, precision: 2) %></td>
                <% running_total = running_total + (metalitem.net_weight * metalitem.unit_price) %>
            </tr>
            <% end %>
            <tr>
              <td class="pdf-total" colspan="5">Total: <%= number_to_currency(running_total, precision: 2) %></td>
            </tr>
        </table>
      <% end %>

        <hr class="new1">
        <h2>Material Image: </h2>
        <div class="col-sm-3 text-white">
            <p>
                <div>
                <% if @invoice.metal_img.attached? %>
                <%= image_tag(@invoice.metal_img.variant(resize:"100x100"))  %>
                <% end %>
                </div>          
            </p>
        </div>
        <hr class="new1">
      <%= content_tag(:a, "Back To Top", href: "#", class: "btn btn-outline-secondary text-white") if request.format != :pdf %>
       