<p id="notice"><%= notice %></p>

<div class="container text-white">
    <div class="album text-white">

        <h1 align="center">Texas Scrap Metal</h1>
       
        <hr class="new1">
       
        <div class="card text-center bg-dark border-light" style="align: center">

                <div class="card-body text-center">
                    <h2><%= image_tag("home2.svg", alt: "tex", height: 50, width: 65) %></h2>
                    <h5 class="card-title text-light">Welcome</h5>
                    <p class="card-text text-light">Select an option below to continue, or use the nav bar above</p>                    
                </div>
        </div>
        
        <hr class="new1">

        <div class="row">

            <div class="col-md-4 text-white">
                    
                        <div class="card bg-dark border-light">
                            <div class="card-body text-light">
                                <div class="card-img-top">
                                <%= image_tag("cust.svg", alt: "tex", height: 55, width: 65) %>
                                </div>
                                <h5 class="card-title text-light">Customers</h5>
                                <p class="card-text">Create a new customer profile or search existing customers</p>
                                <%= link_to 'Add New Customer', new_customer_path, class: 'btn btn-outline-success btn-sm text-white' , style:"font-size:smaller;" %>
                                <p></p>
                                <%= link_to 'Show Customers', customers_path, class: 'btn btn-outline-info btn-sm text-white', style:"font-size:smaller;" %>
                            </div>
                        </div>
        
            </div>

            <div class="col-md-4 text-white">
                    
                        <div class="card bg-dark border-light">
                            <div class="card-body text-light">
                                <div class="card-img-top">
                                <%= image_tag("inv4.svg", alt: "tex", height: 55, width: 65) %>
                                </div>
                                <h5 class="card-title text-light">Invoices</h5>
                                <p class="card-text">Create a new invoice or search existing invoices</p>
                                <%= link_to 'Create Invoice', new_invoice_path, class: 'btn btn-outline-success btn-sm text-white' %>
                                <%= link_to 'Show Invoices', invoices_path, class: 'btn btn-outline-info btn-sm text-white' %>
                            </div>
                        </div>
        
            </div>

            <div class="col-md-4 text-white">
            
                        <div class="card bg-dark border-light">
                            <div class="card-body text-light">
                                <div class="card-img-top">
                                <%= image_tag("info.svg", alt: "tex", height: 55, width: 65) %>
                                </div>
                                <h5 class="card-title text-light">Statistics</h5>
                                <p class="card-text">Dynamic information about business is displayed below</p>
                                <table class="card-text">
                                    <tr><td>New Customers Today:</td><td style="text-align: right"><%= Customer.group_by_day(:created_at).count.fetch(Date.current, 0) %></td></tr>
                                    <tr><td>New Customers YTD:</td><td style="text-align: right"><%= Customer.group_by_year(:created_at).count.fetch(Date.current.beginning_of_year, 0) %></td></tr>
                                    <tr><td>New Invoices This Week:</td><td style="text-align: right"><%= Invoice.group_by_week(:created_at).count.fetch(Date.current.beginning_of_week(start_day = :sunday), 0) %></td></tr>

                                </table>
                            </div>
                        </div>
            </div>

        </div>

        
        <hr />

        <h2 align="center">Pending Invoices</h2>

        <hr class="new1">

        <table id="example" class="table table-dark table-hover table-sm text-nowrap" data-turbolinks="false">

            <thead>
                <tr class="table-dark text-center">
                    <th>Invoice #</th>
                    <th>Invoice Desc.</th>
                    <th id="clicky">Invoice Date</th>
                    <th>Customer Name</th>
                    <th>Invoice Type</th>
                    <th>Invoice Status</th>
                </tr>
            </thead>

            <tbody>
                <% Invoice.all.each do |invoice| %>
                <tr class="text-center">
                    <td><%= link_to invoice.invoice_number, invoice, :style=> 'color:darkturquoise;' %></td>
                    <td class="text-left"><%= invoice.invoice_desc %></td>
                    <td><%= invoice.invoice_date_time.to_formatted_s(:long_ordinal) %></td>
                    <td class="text-left"><%= link_to invoice.customer.first_and_last_no_id, invoice.customer, :style=> 'color:darkturquoise;' %></td>
                    <td class="text-left"><%= invoice.invoice_type.invoice_type %></td>
                    <td class="text-left"><%= invoice.invoice_status.invoice_status %></td>
                </tr>
                <% end %>
            </tbody>
        </table>

<script type="text/javascript">

    var dataTable = $('#example').DataTable({
        "language": {
            "sLengthMenu": "Num. of Entries Per Page _MENU_",
            "sSearch": "Search:"
        }
    });

    $(document).ready(function() {
        dataTable.search('Pending').draw;
        $("#clicky").trigger('click');
    });
     $(document).ready(function () {             
  $('.dataTables_filter input[type="search"]').css(
     {'width':'400px','display':'block', 'position' : 'absolute'}
  );
});

    document.addEventListener("turbolinks:before-cache", function() {
        if (dataTable !== null) {
            dataTable.destroy();
            dataTable = null;
        }
    });


</script>

        <hr class="new1">
        <a href="#" onclick="document.body.scrollTop=0;document.documentElement.scrollTop=0;event.preventDefault()" class="btn btn-outline-secondary text-white">Back To Top</a>
</div>
</div>