<p id="notice"><%= notice %></p>
<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable( {
      
      "language": {
        "sLengthMenu": "Num. of Entries Per Page _MENU_ ",
        "sSearch": "Search:"
        }
        
        });
  });
</script>

<div class="container text-white">
<div class="album text-white">

<h1>Manage Invoice Statuses</h1>
<%= link_to 'New Invoice Status', new_invoice_status_path, class: 'btn btn-outline-secondary text-white' %>

<br>
<hr class="new1">

<table id="example" class="table table-dark table-hover table-sm text-nowrap" data-turbolinks="false">
  <thead>
    <tr class="table-dark text-center">
      <th>Invoice Status</th>
      <th>Invoice Status Description</th>
      <th>Show Invoice Status</th>
      <th>Edit Invoice Status</th>
      <th>Delete Invoice Status</th>
    </tr>
  </thead>

  <tbody class="text-center">
    <% @invoice_statuses.each do |invoice_status| %>
      <tr>
        <td><%= invoice_status.invoice_status %></td>
        <td><%= invoice_status.invoice_status_desc %></td>
        <td><%= link_to 'Show', invoice_status, class: 'btn btn-info btn-xs text-white' %></td>
        <td><%= link_to 'Edit', edit_invoice_status_path(invoice_status), class: 'btn btn-warning btn-xs' %></td>
        <td><%= link_to 'Destroy', invoice_status, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-light btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>


