<p id="notice"><%= notice %></p>


<div class="container text-white">
<div class="album text-white">

<h1>Manage Invoice Statuses </h1>
<%= link_to 'New Invoice Status', new_invoice_status_path, class: 'btn btn-outline-secondary text-white' %>

<br>
<hr class="new1">

<table id="example" class="table table-dark table-hover table-sm" data-turbolinks="false">
  <thead>
    <tr class="table-dark text-center text-nowrap">
      <th class="text-left">Invoice Status</th>
      <th class="text-left">Invoice Status Description</th>
      <th>View Invoice Status</th>
      <th>Edit Invoice Status</th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_statuses.each do |invoice_status| %>
      <tr>
        <td class="text-left text-nowrap"><%= invoice_status.invoice_status %></td>
        <td class="text-left"><%= invoice_status.invoice_status_desc %></td>
        <td class="text-center"><%= link_to 'View', invoice_status, class: 'btn btn-info btn-sm text-white' %></td>
        <td class="text-center"><%= link_to 'Edit', edit_invoice_status_path(invoice_status), class: 'btn btn-warning btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>


<script type="text/javascript">
    var dataTable = $('#example').DataTable({
        "language": {
            "sLengthMenu": "Num. of Entries Per Page _MENU_",
            "sSearch": "Search:"
        }
    });

    $(document).ready(function() {
        dataTable;
    });

      $(document).ready(function () {             
  $('.dataTables_filter input[type="search"]').attr('placeholder','Search by Invoice Status and Description...').css(
     {'width':'400px','display':'block', 'position' : 'absolute'}
  );
});

    document.addEventListener("turbolinks:before-cache", function() {
        if (dataTable !== null) {
            dataTable.destroy();
            dataTable = null;
        }
    });
</script>