<div class=" form-group nested-fields ">


<div class="field">
    <%= f.label :year, "Vehicle Year:" %><i style=" color:aquamarine;"> *</i>
    <%= f.text_field :year, placeholder: "Enter Vehicle Year" , class: 'form-control col-sm-8' %>
  </div>

  <div class="field">
    <%= f.label :color, "Vehicle Color:" %><i style=" color:aquamarine;"> *</i>
    <%= f.text_field :color, placeholder: "Enter Vehicle Color" , class: 'form-control col-sm-8' %>
  </div>

  <div class="field">
    <%= f.label :license_plate_number, "Vehicle License Plate Number:" %><i style=" color:aquamarine;"> *</i>
    <%= f.text_field :license_plate_number,  placeholder: "Enter License Plate Number" , class: 'form-control col-sm-8' %>
  </div>

  <div class="field">
    <%= f.label :state_province_id, "Vehicle LP State:" %><i style=" color:aquamarine;"> *</i>
    <br>
    <%= f.collection_select :state_province_id, StateProvince.all, :id, :state_province_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :make_id, "Vehicle Make:" %><i style=" color:aquamarine;"> *</i>
    <br>
    <%= f.collection_select :make_id, Make.all, :id, :make_name, class: 'form-control' %> <%= link_to 'Add A New Make', makes_path, class: 'btn btn-outline-success text-white btn-sm', style:"font-size:smaller; white-space: pre;" %> 
  </div>

  <div class="field">
    <%= f.label :vehicle_status_id, "Vehicle Status:" %><i style=" color:aquamarine;"> *</i>
    <br>
    <%= f.collection_select :vehicle_status_id, VehicleStatus.all, :id, :vehicle_status, class: 'form-control' %>
  </div>

   <div class="field">
    <%= link_to_remove_association 'Remove Customer Vehicle', f, class: 'btn btn-outline-danger text-white'%>
  </div>

</div>
