<p id="notice"><%= notice %></p>


<div class="container text-white">
    <div class="album text-white">

        <h1>Manage Customers</h1>

        <%= link_to 'New Customer', new_customer_path, class: 'btn btn-outline-secondary text-white' %> | 
        <%= link_to 'Add New Invoice', new_invoice_path, class: 'btn btn-outline-success text-white' %>

        <br>
        <hr class="new1">

        <table id="example" class="table table-dark table-hover table-sm text-nowrap" data-turbolinks="false">
            <thead>
                <tr class="table-dark text-center">
                    <th class="text-left">Customer Name</th>
                    <th>DL Number</th>
                    <th class="text-left">Address</th>
                    <th class="text-left">City</th>
                    <th class="text-left">Phone</th>
                    <th class="text-left">Customer Status</th>
                    <th class="text-left">Customer Type</th>
                    <th>View Customer</th>
                    <th>Edit Customer</th>
                </tr>
            </thead>

            <tbody class="text-center">
                <% @customers.each do |customer| %>
                <tr>
                    <td class="text-left"><%= customer.first_and_last_no_id %></td>
                    <td><%= customer.dl_number %></td>
                    <td class="text-left"><%= customer.cust_address %></td>
                    <td><%= customer.cust_city %></td>
                    <td><%= number_to_phone(customer.cust_phone) %></td>
                    <td class="text-left"><%= customer.customer_status.customer_status %></td>
                    <td class="text-left"><%= customer.customer_type.customer_type %></td>
                    <td><%= link_to 'View', customer, class: 'btn btn-info btn-sm text-white' %></td>
                    <td><%= link_to 'Edit', edit_customer_path(customer), class: 'btn btn-warning btn-sm'  %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    var dataTable = $('#example').DataTable({
        "language": {
            "sLengthMenu": "Num. of Entries Per Page _MENU_",
            "sSearch": "Search:"
        }

        
        
    });

    $(document).ready(function() {
        dataTable;
    });

    $(document).ready(function () {             
  $('.dataTables_filter input[type="search"]').attr('placeholder','Search by DL Number, Customer Name, Phone Number...').css(
     {'width':'420px','display':'block', 'position' : 'absolute'}
  );
});

    
    

    document.addEventListener("turbolinks:before-cache", function() {
        if (dataTable !== null) {
            dataTable.destroy();
            dataTable = null;
        }
    });
</script>