<p id="notice"><%= notice %></p>

<p>
  <strong>Dl number:</strong>
  <%= @customer.dl_number %>
</p>

<p>
  <strong>Dl state:</strong>
  <%= @customer.dl_state %>
</p>

<p>
  <strong>Cust f name:</strong>
  <%= @customer.cust_f_name %>
</p>

<p>
  <strong>Cust m initial:</strong>
  <%= @customer.cust_m_initial %>
</p>

<p>
  <strong>Cust l name:</strong>
  <%= @customer.cust_l_name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @customer.company %>
</p>

<p>
  <strong>Cust address:</strong>
  <%= @customer.cust_address %>
</p>

<p>
  <strong>Cust city:</strong>
  <%= @customer.cust_city %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @customer.zip_code %>
</p>

<p>
  <strong>Cust phone:</strong>
  <%= @customer.cust_phone %>
</p>

<p>
  <strong>Cust email:</strong>
  <%= @customer.cust_email %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @customer.dob %>
</p>

<p>
  <strong>Dl picture:</strong>
  <%= @customer.dl_picture %>
</p>

<p>
  <strong>State province:</strong>
  <%= @customer.state_province_id %>
</p>

<p>
  <strong>Country:</strong>
  <%= @customer.country_id %>
</p>

<p>
  <strong>Customer status:</strong>
  <%= @customer.customer_status_id %>
</p>

<p>
  <strong>Customer type:</strong>
  <%= @customer.customer_type_id %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
