<%= form_with(model: metal_item, local: true) do |form| %>
  <% if metal_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(metal_item.errors.count, "error") %> prohibited this metal_item from being saved:</h2>

      <ul>
        <% metal_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :metal_item_desc %>
    <%= form.text_field :metal_item_desc %>
  </div>

  <div class="field">
    <%= form.label :net_weight %>
    <%= form.text_field :net_weight %>
  </div>

  <div class="field">
    <%= form.label :unit_price %>
    <%= form.text_field :unit_price %>
  </div>

  <div class="field">
    <%= form.label :metal_type_id %>
    <%= form.text_field :metal_type_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
