<%= form_with(model: metal_type, local: true) do |form| %>
  <% if metal_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(metal_type.errors.count, "error") %> prohibited this metal_type from being saved:</h2>

      <ul>
        <% metal_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :metal_type %>
    <%= form.text_field :metal_type %>
  </div>

  <div class="field">
    <%= form.label :metal_type_desc %>
    <%= form.text_field :metal_type_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
