<%= form_with(model: country, local: true) do |form| %>
  <% if country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
        <% country.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="album text-white">
  
          <div class="row">
            <div class="col-md-4 text-white">

                <div class="form-group">
                  <%= form.label :country_name, "Country Name" %>
                  <%= form.text_field :country_name, class: 'form-control' %>
                </div>
            </div>

          </div>

          <hr class="new1">
             <div class="col-sm-12">
                <div class="form-group text-white">

                    <div class="actions">
                      <%= form.submit "Add Country", class: 'btn btn-secondary btn-block' %>
                    </div>
                    </div>
             </div> 
<% end %>
