<p id="notice"><%= notice %></p>
<div class="container portfolio-container text-white">
  <div class="text-white">

  <%= link_to 'Edit Country', edit_country_path(@country), class: 'btn btn-outline-warning text-white' %> |
  <%= link_to 'Manage Countries', countries_path, class: 'btn btn-outline-secondary text-white' %>

  </div>
  <hr class="new1">
    
    <div class="album text-white">
      
      <div class="row">

        <div class="col-md-3 text-white"><h2><%= image_tag("dark2txscrap.png", alt: "tex", height: 110, width: 150) %></h2></div>
        
        <div class="col-md-6 text-white text-center">
          <a>
          <strong>Texas Scrap Metal</strong>
          <br>
          <strong>311 West Mountain Houston Rd, Houston, TX 77037</strong>
          <br>
          <strong>texscrap@gmail.com</strong>
          <br>
          <strong>123-456-7890</strong>
          </a>
          
        </div>
        
        <div class="col-md-3 text-white"><h2><%= image_tag("dark2txscrap.png", alt: "tex", height: 110, width: 150) %></h2></div>
      
      </div>
      <hr class="new1">

      <h2>Country Information: </h2>
      <div class="row">
          <div class="col-md-10 text-white">

                  <p>
                    <strong>Country Name:</strong>
                    <%= @country.country_name %>
                  </p>

                  </div>
          </div> 

          <hr class="new1">

