<p id="notice"><%= notice %></p>
<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable( {
      
      "language": {
        "sLengthMenu": "Num. of Entries Per Page _MENU_ ",
        "sSearch": "Search:"
        }
        
        });
  });
</script>

<div class="container text-white">
<div class="album text-white">
<h1>Manage Employee Statuses</h1>
<%= link_to 'Add Employee Status', new_employee_status_path, class: 'btn btn-outline-secondary text-white' %>

<br>
<hr class="new1">

<table id="example" class="table table-dark table-hover table-sm text-nowrap" data-turbolinks="false">
  <thead>
    <tr class="table-dark text-center">
      <th>Employee Status</th>
      <th>Employee Status Description</th>
      <th>View Emp Status</th>
      <th>Edit Emp Status</th>
      <th>Delete Emp Status</th>
    </tr>
  </thead>

  <tbody class="text-center">
    <% @employee_statuses.each do |employee_status| %>
      <tr>
        <td><%= employee_status.employee_status %></td>
        <td><%= employee_status.employee_status_desc %></td>
        <td><%= link_to 'Show', employee_status, class: 'btn btn-info btn-xs text-white' %></td>
        <td><%= link_to 'Edit', edit_employee_status_path(employee_status), class: 'btn btn-warning btn-xs' %></td>
        <td><%= link_to 'Destroy', employee_status, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-light btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>

