<%= form_with(model: line_item, local: true) do |form| %>
  <% if line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>

      <ul>
        <% line_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="album text-white">
  
          <div class="row">

              <div class="col-md-4 text-white">
  
                    <div class="form-group">
                      <%= form.label :invoice_id, "Invoice ID" %>
                      <%= form.text_field :invoice_id, class: 'form-control' %>
                    </div>

                    <div class="form-group">
                      <%= form.label :metal_item_id, "Metal Item ID" %>
                      <%= form.text_field :metal_item_id, class: 'form-control' %>
                    </div>
              </div>

          </div>   

              <hr class="new1">

              <div class="col-sm-12">
                <div class="form-group text-white">

                    <div class="actions">
                      <%= form.submit "Add Line Item", class: 'btn btn-secondary btn-block' %>
                    </div>
                </div>
              </div> 

<% end %>
