<%= form_with(model: customer_type, local: true) do |form| %>
  <% if customer_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_type.errors.count, "error") %> prohibited this customer_type from being saved:</h2>

      <ul>
        <% customer_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="album text-white">
  
          <div class="row">

              <div class="col-md-5 text-white">


                <div class="form-group">
                  <%= form.label :customer_type, "Customer Type" %><i style=" color:aquamarine;">*</i>
                  <%= form.text_field :customer_type, placeholder: 'Enter Customer Type Here', class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= form.label :customer_type_desc, "Customer Type Description" %><i style=" color:aquamarine;">*</i>
                  <%= form.text_field :customer_type_desc, placeholder: 'Small Description of Customer Type', class: 'form-control' %>
                </div>

              </div>

          </div>  
             <hr class="new1">

              <div class="col-sm-12">
                <div class="form-group text-white">

                  <div class="actions">
                    <%= form.submit "Add Customer Type", class: 'btn btn-secondary btn-block' %>
                  </div>

                </div>
              </div> 
<% end %>
