<%= form_with(model: customer_vehicle, local: true) do |form| %>
  <% if customer_vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_vehicle.errors.count, "error") %> prohibited this customer_vehicle from being saved:</h2>

      <ul>
        <% customer_vehicle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="album text-white">
  
          <div class="row">

              <div class="col-md-6 text-white">


                    <div class="form-group">
                      <%= form.label :year, "Vehicle Year" %>
                      <%= form.text_field :year, class: 'form-control' %>
                    </div>

                    <div class="form-group">
                      <%= form.label :color, "Vehicle Color" %>
                      <%= form.text_field :color, class: 'form-control' %>
                    </div>

                    <div class="form-group">
                      <%= form.label :license_plate_number, "Vehicle License Plate Number" %>
                      <%= form.text_field :license_plate_number, class: 'form-control' %>
                    </div>
                    
                    <div class="form-group">
                      <%= form.label :state_province_id, "Vehicle License Plate State" %>
                      <br>
                      <%= form.collection_select :state_province_id, StateProvince.all, :id, :state_province_name, class: 'form-control' %>
                    </div>

                    <div class="form-group">
                      <%= form.label :make_id, "Vehicle Make" %>
                      <br>
                      <p> <%= form.collection_select :make_id, Make.all, :id, :make_name, class: 'form-control' %> Make Does Not Exist?  <%= link_to 'Add A New Make', makes_path, class: 'btn btn-outline-success text-white btn-sm' %></p>

                    </div>

                    <div class="form-group">
                      <%= form.label :vehicle_status_id, "Vehicle Status" %>
                      <br>
                      <%= form.collection_select :vehicle_status_id, VehicleStatus.all, :id, :vehicle_status, class: 'form-control' %>
                    </div>

                    <div class="form-group">
                      <%= form.label :customer_id, "Select Customer" %>
                      <br>
                      <%= form.collection_select :customer_id, Customer.all, :id, :first_and_last, class: 'form-control' %>
                    </div>

                </div>
                
            

              <div class="col-sm-12">
                          <hr class="new1">

                
                <div class="form-group text-white">
                    
                    <div class="actions">
                      <%= form.submit "Add Customer Vehicle", class: 'btn btn-secondary btn-block' %>
                    </div>
                
                </div>
              
              </div> 

</div>
<% end %>
