<p id="notice"><%= notice %></p>

<h1>Customer Vehicles</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Color</th>
      <th>License plate number</th>
      <th>Make</th>
      <th>Vehicle status</th>
      <th>State province</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_vehicles.each do |customer_vehicle| %>
      <tr>
        <td><%= customer_vehicle.year %></td>
        <td><%= customer_vehicle.color %></td>
        <td><%= customer_vehicle.license_plate_number %></td>
        <td><%= customer_vehicle.make_id %></td>
        <td><%= customer_vehicle.vehicle_status_id %></td>
        <td><%= customer_vehicle.state_province_id %></td>
        <td><%= customer_vehicle.customer_id %></td>
        <td><%= link_to 'Show', customer_vehicle %></td>
        <td><%= link_to 'Edit', edit_customer_vehicle_path(customer_vehicle) %></td>
        <td><%= link_to 'Destroy', customer_vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer Vehicle', new_customer_vehicle_path %>
