<p id="notice"><%= notice %></p>


<div class="container text-white">
<div class="album text-white">


<h1>Customer Vehicles</h1>
<%= link_to 'Add Customer Vehicle', new_customer_vehicle_path, class: 'btn btn-outline-secondary text-white' %>

<br>
<hr class="new1">

    <table id="example" class="table table-dark table-hover table-sm text-nowrap" data-turbolinks="false">
      <thead>
        <tr class="table-dark text-center">
          <th>Vehicle Year</th>
          <th>Vehicle Color</th>
          <th>License Plate Number</th>
          <th>Vehicle Manufacturer</th>
          <th>Vehicle Make</th>
          <th>Vehicle Status</th>
          <th>Customer Name</th>
          <th>View Vehicle</th>
          <th>Edit Vehicle</th>
        </tr>
      </thead>

      <tbody class="text-center">
        <% @customer_vehicles.each do |customer_vehicle| %>
          <tr>
            <td><%= customer_vehicle.year %></td>
            <td class="text-left"><%= customer_vehicle.color %></td>
            <td><%= customer_vehicle.license_plate_number %></td>
            <td class="text-left"><%= customer_vehicle.make.manufacturer.manufacturer_name %></td>
            <td class="text-left"><%= customer_vehicle.make.make_name %></td>
            <td><%= customer_vehicle.vehicle_status.vehicle_status %></td>
            <td class="text-left"><%= link_to customer_vehicle.customer.first_and_last_no_id, customer_vehicle.customer, :style=> 'color:darkturquoise;' %></td>
            <td><%= link_to 'View', customer_vehicle, class: 'btn btn-info btn-sm text-white' %></td>
            <td><%= link_to 'Edit', edit_customer_vehicle_path(customer_vehicle), class: 'btn btn-warning btn-sm' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

</div>
</div>

<script type="text/javascript">
    var dataTable = $('#example').DataTable({
        "language": {
            "sLengthMenu": "Num. of Entries Per Page _MENU_",
            "sSearch": "Search:"
        }
    });

    $(document).ready(function() {
        dataTable;
    });

    document.addEventListener("turbolinks:before-cache", function() {
        if (dataTable !== null) {
            dataTable.destroy();
            dataTable = null;
        }
    });
</script>

