<%= form_with(model: manufacturer, local: true) do |form| %>
  <% if manufacturer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manufacturer.errors.count, "error") %> prohibited this manufacturer from being saved:</h2>

      <ul>
        <% manufacturer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="album text-white">
  
          <div class="row">

              <div class="col-md-5 text-white">

                  <div class="form-group">
                    <%= form.label :manufacturer_name, "Car Manufacturer Name" %><i style=" color:aquamarine;">*</i>
                    <%= form.text_field :manufacturer_name, placeholder: "Enter Manufacturer Name" , class: 'form-control' %>
                  </div>
              
              </div>
          </div>    
          
          <div class="row">
              <div class="col-md-4 text-white">
                  <h4>Add Car Make:</h4>
                      <div id="makes">
                          <%= form.fields_for :makes do |make| %>
                            <%= render 'make_fields', :f => make %>
                          <% end %>
                          <div class="links">
                              <%= link_to_add_association 'Add Car Make', form, :makes, class: 'btn btn-outline-success text-white' %>
                          </div>
                      </div>
              </div>        
            </div>

              <hr class="new1">

  
              <div class="col-sm-12">
                  <div class="form-group text-white">
              
                    <div class="actions">
                      <%= form.submit 'Add Car Manufacturer', class:'btn btn-secondary btn-block' %>
                    </div>

                  </div>
              </div>

<% end %>
