<p id="notice"><%= notice %></p>

<div class="container text-white">
    <div class="album text-white">

        <div class="text-white">
            <%= link_to 'Back To Reports', reports_index_path, class: 'btn btn-outline-primary text-white' %> |
            <%= link_to 'Go Home', root_path, class: 'btn btn-outline-warning text-white' %>       
        </div>
       
        <hr class="new1">
       
        <div class="card text-center bg-dark border-light">
                    
                <div class="card-body text-center">
                <h2><%= image_tag("seller2.svg", alt: "tex", height: 70, width: 85) %></h2>
                    <h5 class="card-title text-light">Active Sellers Report</h5>
                    <p class="card-text text-light">The Following Report Displays All Active Customers That Are Metal Sellers</p>
                    <%= link_to 'Manage Customers', customers_path, class: 'btn btn-outline-primary text-white' %>

                </div>
             
        </div>

        
        
        <hr class="new1">

       <table id="example" class="table table-dark table-hover table-sm text-nowrap" data-turbolinks="false">
                            <thead>
                                <tr class="table-dark text-center">
                                    <th>Customer Name</th>
                                    <th>DL Number</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>Phone</th>
                                    <th>Customer Status</th>
                                    <th>Customer Type</th>
                                </tr>
                            </thead>

                            <tbody class="text-center">
                                <% @customers.each do |customer| %>
                                <tr>
                                    <td><%= link_to customer.first_and_last_no_id, customer, :style=> 'color:darkturquoise;' %></td>
                                    <td><%= customer.dl_number %></td>
                                    <td><%= customer.cust_address %></td>
                                    <td><%= customer.cust_city %></td>
                                    <td><%= number_to_phone(customer.cust_phone) %></td>
                                    <td><%= customer.customer_status.customer_status %></td>
                                    <td><%= customer.customer_type.customer_type %></td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>