<p id="notice"><%= notice %></p>

<div class="container text-white">
    <div class="album text-white">

        <div class="text-white">
            <%= link_to 'Back To Reports', reports_index_path, class: 'btn btn-outline-primary text-white' %> |
            <%= link_to 'Go Home', root_path, class: 'btn btn-outline-warning text-white' %>       
        </div>
       
        <hr class="new1">
       
        <div class="card text-center bg-dark border-light">
                    
                <div class="card-body text-center">
                <h2><%= image_tag("buyers2.svg", alt: "tex", height: 70, width: 85) %></h2>
                    <h5 class="card-title text-light">Contract Buyers Gained Report</h5>
                    <p class="card-text text-light">The Following Report Displays All Contract Buyers That The Business Has Gained This Year, Last Month, and This Month</p>
                    <%= link_to 'Manage Customers', customers_path, class: 'btn btn-outline-primary text-white' %>

                </div>
             
        </div>

        <hr class="new1">
        
        <h2>Contract Buyers Gained</h2>
            <table id="example" class="table table-dark table-hover table-sm text-nowrap">
                <thead>
                <th class="table-light text-center">Timeframe</th>
                <th class="table-light text-center">Total Customers Gained</th>
                    </thead>
                    <tbody class="text-white">
                    <tr>
                    <td align = "center">This Year</td>
                    <%  cont_buyer_active_id = CustomerType.find_by(customer_type: "Contract Buyer").id() %>
                    <td align = "center"><%= @customers.where(created_at: Date.today.beginning_of_year..Date.today.end_of_month).where(customer_type_id:  cont_buyer_active_id).count %></td>
                    </tr>
                    <tr>
                    <td align = "center">Last Month</td>
                    <td align = "center"><%= @customers.where(created_at: Date.today.beginning_of_month.last_month..Date.today.end_of_month.last_month).where(customer_type_id:  cont_buyer_active_id).count %></td>
                    </tr>
                    <tr>
                    <td align = "center">This Month</td>
                    <td align = "center"><%= @customers.where(created_at: Date.today.beginning_of_month..Date.today.end_of_month).where(customer_type_id:  cont_buyer_active_id).count %></td>
                    </tr>
                    </tbody>
                </table>
            </div>











