<p id="notice"><%= notice %></p>

<div class="container text-white">
    <div class="album text-white">

        <div class="text-white">
            <%= link_to 'Back To Reports', reports_index_path, class: 'btn btn-outline-primary text-white' %> |
            <%= link_to 'Go Home', root_path, class: 'btn btn-outline-warning text-white' %>       
        </div>
       
        <hr class="new1">
       
        <div class="card text-center bg-dark border-light">
                    
                <div class="card-body text-center">
                <h2><%= image_tag("stamp.svg", alt: "tex", height: 70, width: 85) %> </h2>
                    <h5 class="card-title text-light">Reported Invoices Report</h5>
                    <p class="card-text text-light">The Following Report Displays All Invoices That Have Been Reported By Federal Agencies </p>
                    <%= link_to 'Manage Invoices', invoices_path, class: 'btn btn-outline-primary text-white' %>

                </div>
             
        </div>

        <hr class="new1">
                <h2>Reported Invoices</h2>
            <table id="example" class="table table-dark table-hover table-sm text-nowrap">
                <thead>
                <th class="table-light text-center">Timeframe</th>
                <th class="table-light text-center">Total Customers Gained</th>
                    </thead>
                    <tbody class="text-white">
                    <tr>
                    <td align = "center">This Year</td>
                    <%  invoice_status_id = InvoiceStatus.find_by(invoice_status: "Reported").id() %>
                    <td align = "center"><%= @invoices.where(created_at: Date.today.beginning_of_year..Date.today.end_of_month).where(invoice_status_id:  invoice_status_id).count %></td>
                    </tr>
                    <tr>
                    <td align = "center">Last Month</td>
                    <td align = "center"><%= @invoices.where(created_at: Date.today.beginning_of_month.last_month..Date.today.end_of_month.last_month).where(invoice_status_id:  invoice_status_id).count %></td>
                    </tr>
                    <tr>
                    <td align = "center">This Month</td>
                    <td align = "center"><%= @invoices.where(created_at: Date.today.beginning_of_month..Date.today.end_of_month).where(invoice_status_id:  invoice_status_id).count %></td>
                    </tr>
                    </tbody>
                </table>

            
        <hr class="new1">

        <table id="example" class="table table-dark table-hover table-sm text-nowrap" data-turbolinks="false">

            <thead>
                <tr class="table-dark text-center">
                    <th>Invoice #</th>
                    <th class="text-left">Invoice Description</th>
                    <th>Invoice Date</th>
                    <th class="text-left">Customer Name</th>
                    <th class="text-left">Invoice Type</th>
                    <th class="text-left">Invoice Status</th>
                </tr>
            </thead>

            <tbody>
                <% @invoices.each do |invoice| %>
                <tr>
                    <td class="text-center"><%= link_to invoice.invoice_number, invoice, :style=> 'color:darkturquoise;' %></td>
                    <td class="text-left"><%= invoice.invoice_desc %></td>
                    <td class="text-center"><%= invoice.invoice_date_time.to_formatted_s(:long_ordinal) %></td>
                    <td class="text-left"><%= invoice.customer.first_and_last_no_id %></td>
                    <td class="text-left"><%= invoice.invoice_type.invoice_type %></td>
                    <td class="text-left"><%= invoice.invoice_status.invoice_status %></td>
               
                </tr>
                <% end %>
            </tbody>
        </table>

        
